@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #22254B;
  font-family: 'Poppins', sans-serif;
}
header {
  width: 100%;
  height: 78px;
  background-color: #373B69;
}
form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin-right: 10px;
}
.search {
  background: transparent;
  outline: none;
  border: 2px solid #22254b;
  border-radius: 25px;
  font-size: 18px;
  color: #fff;
  padding: 10px 15px;
}
.search:focus {
  background: #22254b; 
}

#main {
  display: flex;
  flex-wrap: wrap;
}
.movie {
  margin: 16px;
  width: 300px;
  background-color: #373B69;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}
.movie img {
  height: 450px;
}
.movie .movies-info { 
  display: flex;
  color: #eee;
  align-items: center;
  justify-content: space-between;
  padding: 7px 16px 17px; 
  border-radius:10px;
}
.movie .movies-info h3{ 
  font-weight: 600; 
  font-size: 19px;
  margin-bottom: 18px;
}
.movie .movies-info span{ 
  background-color: #22254B; 
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}

.movie .movies-info span.green {
  color: lightgreen;
}

.movie .movies-info span.orange {
  color: orange;
}

.movie .movies-info span.red {
  color: red;
}


.movie .overview {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px 30px;
  background-color: white; 
  font-weight: 400;
  transform: translateY(100%);
  transition: transform .4s ease-in;
}
.movie .overview h3{
 font-weight: 600;
 margin-bottom: 20px;
}
.movie:hover .overview {
  transform: translateY(0);
 }